/* pi-hole-midnight */
/* Custom dark theme CSS for pi-hole to replace skin-blue AdminLTE theme */
/* https://github.com/MBarrows20/pi-hole-midnight/ */
body {
    background: #000
}

.btn-default,button {
    background-color: #080909;
    border: 1px solid #666;
    color: #b2b2b2
}

.box-footer,.datatables_processing,.form-control,input,pre {
    background: #080909;
    border: 1px solid #666;
    color: #b2b2b2
}

html {
    scrollbar-3dlight-color: #3c8dbc;
    scrollbar-arrow-color:#000;scrollbar-base-color:#3c8dbc;scrollbar-dark-shadow-color:#3c8dbc;scrollbar-face-color:#3c8dbc;scrollbar-highlight-color:#3c8dbc;scrollbar-shadow-color:#3c8dbc;scrollbar-track-color:#000}

::-webkit-scrollbar {
    height: 3px;
    width: 8px
}

::-webkit-resizer,::-webkit-scrollbar-button {
    background-color: #666
}

::-webkit-scrollbar-thumb {
    background-color: #3c8dbc;
    border-radius: 3px;
    height: 50px
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background-color: #3c8dbc
}

::-webkit-scrollbar-track-piece {
    background-color: #000
}

.small-box.bg-aqua,.small-box.bg-green,.small-box.bg-red,.small-box.bg-yellow {
    background: #212121!important;
    border-top: 3px solid #303030
}

.small-box.bg-red .icon {
    color: rgb(221,75,57,.8)
}

.small-box.bg-green .icon {
    color: rgb(0,166,90,.8)
}

.small-box.bg-yellow .icon {
    color: rgb(243,156,18,.8)
}

.small-box.bg-aqua .icon {
    color: rgb(0,192,239,.8)
}

.alert-danger,.alert-error,.alert-info,.alert-success,.alert-warning,.bg-aqua,.bg-aqua-active,.bg-black,.bg-black-active,.bg-blue,.bg-blue-active,.bg-fuchsia,.bg-fuchsia-active,.bg-green,.bg-green-active,.bg-light-blue,.bg-light-blue-active,.bg-lime,.bg-lime-active,.bg-maroon,.bg-maroon-active,.bg-navy,.bg-navy-active,.bg-olive,.bg-olive-active,.bg-orange,.bg-orange-active,.bg-purple,.bg-purple-active,.bg-red,.bg-red-active,.bg-teal,.bg-teal-active,.bg-yellow,.bg-yellow-active,.callout.callout-danger,.callout.callout-info,.callout.callout-success,.callout.callout-warning,.label-danger,.label-info,.label-primary,.label-success,.label-warning,.modal-danger .modal-body,.modal-danger .modal-footer,.modal-danger .modal-header,.modal-info .modal-body,.modal-info .modal-footer,.modal-info .modal-header,.modal-primary .modal-body,.modal-primary .modal-footer,.modal-primary .modal-header,.modal-success .modal-body,.modal-success .modal-footer,.modal-success .modal-header,.modal-warning .modal-body,.modal-warning .modal-footer,.modal-warning .modal-header {
    color: #fbfbfb!important
}

.box,.nav-tabs-custom>.tab-content,.tab-content {
    background: #212121;
    border-color: #424242
}

.box-header.with-border {
    background: #303030;
    border: none;
    color: #f5f5f5
}

.content-wrapper,.right-side {
    background: #000;
    color: #f5f5f5;
}
.content-wrapper table>tbody>tr>td{
    color: #414141;
}
.input-group .input-group-addon,.list-group-item,.panel,.panel-default>.panel-heading {
    background: #303030;
    border-color: #666;
    color: #b2b2b2
}

.main-footer {
    background: #212121;
    border-color: #30383b;
    color: #b8c7ce
}

.nav-tabs-custom,.nav-tabs-custom>.nav-tabs {
    background: #0e1010;
    border-color: #3e4244;
    color: #b2b2b2
}

.nav-tabs-custom>.nav-tabs>li.active>a {
    border-color: #30383b
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a,.nav-tabs-custom>.nav-tabs>li.active>a {
    background-color: #0a0d0f;
    color: #b2b2b2
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body a,.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background: #0c0d0e!important;
    color: #b2b2b2!important
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover,.pagination>li>a,.pagination>li>span {
    background-color: #292e30;
    border-color: #414547;
    color: #b2b2b2
}

.progress {
    background: #424242
}

.skin-blue .list-group-item:hover {
    background: #292e30!important
}

.skin-blue .main-header .navbar {
    background: #303030;
    color: #f5f5f5
}

.skin-blue .main-header .navbar .nav .open>a,.skin-blue .main-header .navbar .nav .open>a:focus,.skin-blue .main-header .navbar .nav .open>a:hover,.skin-blue .main-header .navbar .nav>.active>a,.skin-blue .main-header .navbar .nav>li>a:active,.skin-blue .main-header .navbar .nav>li>a:focus,.skin-blue .main-header .navbar .nav>li>a:hover,.skin-blue .main-header .navbar>.sidebar-toggle:active,.skin-blue .main-header .navbar>.sidebar-toggle:hover,.skin-blue .main-header>.logo:active,.skin-blue .main-header>.logo:hover {
    background: #3e4244
}

.skin-blue .main-header .navbar .navbar-custom-menu .navbar-nav>li>a,.skin-blue .main-header .navbar .navbar-nav>li>a,.skin-blue .main-header .navbar .navbar-right>li>a {
    border: none
}

.skin-blue .main-header .navbar>.sidebar-toggle {
    border: none;
    color: #b8c7ce
}

.skin-blue .main-header>.logo {
    background: #212121;
    border: none;
    color: #f5f5f5
}

.skin-blue .main-header .navbar .nav>li>a,.skin-blue .sidebar a {
    color: #f5f5f5
}

.skin-blue .sidebar a:hover {
    text-decoration: none
}

.skin-blue .sidebar-form {
    border: 1px solid #374850;
    border-radius: 3px;
    margin: 10px
}

.skin-blue .sidebar-form .btn {
    color: #999;
    border-radius: 0 2px 2px 0
}

.skin-blue .sidebar-form input[type=text] {
    color: #666;
    border-radius: 2px 0 0 2px
}

.skin-blue .sidebar-form .btn,.skin-blue .sidebar-form input[type=text] {
    background-color: #374850;
    border: 1px solid transparent;
    box-shadow: none;
    height: 35px
}

.skin-blue .sidebar-form input[type=text]:focus+.input-group-btn .btn {
    border-left-color: #fff
}

.skin-blue .sidebar-form input[type=text]:focus,.skin-blue .sidebar-form input[type=text]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a,.skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #fff
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #a9a9a9
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #3c8dbc
}

.skin-blue .sidebar-menu>li.header {
    background: #424242;
    color: #f5f5f5
}

.skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li.menu-open>a,.skin-blue .sidebar-menu>li:hover>a {
    background: #424242;
    color: #fff
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #212121;
    margin: 0 1px
}

.skin-blue .sidebar-menu>li>a {
    border-left: 3px solid transparent
}

.nav-tabs-custom>.nav-tabs>li>a,.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a {
    color: #f5f5f5
}

#ad-frequency td,#client-frequency td,#client-frequency-blocked td,#domain-frequency td,#network-entries_filter,#network-entries_length {
    color: #f5f5f5
}

#ad-frequency a,#client-frequency a,#client-frequency-blocked a,#domain-frequency a {
    color: #42a5f5
}

#forward-destinations-legend.chart-legend,#query-types-legend.chart-legend {
    color: #f5f5f5
}

.skin-blue .left-side,.skin-blue .main-sidebar,.skin-blue .wrapper {
    background-color: #303030
}
.table-bordered>tfoot>tr>td,.table-bordered>thead>tr>td,.table-responsive {
    border-color: #303030;
    color: #212121
}
#network-entries>tbody>tr>td{
    color: #414141;
    border-color: #303030;
}
.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>th {
    color: #e0e0e0
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #101417
}

.layout-boxed {
    background-color: #0a0d0f!important;
    background-image: none!important
}

#all-queries tr td {
    color: #f5f5f5
}

#all-queries tr td:nth-child(6) {
    color: #f5f5f5!important
}
